In [9]:
import pandas as pd
import numpy as np

In [10]:
datos = pd.read_csv('C:\master\dataset.csv')

In [11]:
datosA = datos[(datos['Accident'] == 1)]
len(datosA)

36517

In [12]:
datosN = datos[(datos['Accident'] == 0)].sample(n=36517)
len(datosN)

36517

In [19]:
datosAN = datosA.append(datosN)

In [20]:
len(datosAN)

73034

In [21]:
datosAN

        GridID        date      Shift  Accident  Longitude.grid  Latitude.grid
466          1  2011-01-26  Afternoon         1          2.0800        41.4100
765          2  2014-01-31    Morning         1          2.0825        41.4200
3113         6  2013-05-26    Morning         1          2.0925        41.4150
3733         7  2013-05-26    Morning         1          2.0925        41.4225
3781         7  2010-07-21  Afternoon         1          2.0925        41.4225
3893         8  2014-04-08  Afternoon         1          2.0925        41.4275
4167         8  2014-11-28  Afternoon         1          2.0925        41.4275
4661         9  2012-05-14    Morning         1          2.0925        41.4300
5104        10  2010-01-26    Morning         1          2.0950        41.4150
5220        10  2010-12-22    Morning         1          2.0950        41.4150
5706        11  2011-02-12  Afternoon         1          2.0950        41.4175
5735        11  2012-03-01    Morning         1          2.0950        41.4175
5741        11  2011-01-17  Afternoon         1          2.0950        41.4175
6166        12  2010-07-12      Night         1          2.0950        41.4200
6213        12  2012-07-26  Afternoon         1          2.0950        41.4200
6653        12  2011-01-17    Morning         1          2.0950        41.4200
7606        14  2012-02-22    Morning         1          2.0950        41.4250
7668        14  2011-12-16  Afternoon         1          2.0950        41.4250
8396        16  2010-05-16    Morning         1          2.0975        41.4175
8469        16  2012-10-20  Afternoon         1          2.0975        41.4175
9041        17  2014-08-07  Afternoon         1          2.0975        41.4200
9326        17  2014-03-27  Afternoon         1          2.0975        41.4200
9956        18  2011-12-21  Afternoon         1          2.0975        41.4250
10067       19  2013-09-11  Afternoon         1          2.0975        41.4275
11320       21  2012-11-30  Afternoon         1          2.1000        41.3800
11336       21  2011-02-18    Morning         1          2.1000        41.3800
11371       21  2010-10-18  Afternoon         1          2.1000        41.3800
11410       21  2010-02-17    Morning         1          2.1000        41.3800
11474       21  2013-05-11  Afternoon         1          2.1000        41.3800
11501       21  2010-12-15  Afternoon         1          2.1000        41.3800
...        ...         ...        ...       ...             ...            ...
425283     750  2013-09-29  Afternoon         0          2.1600        41.3550
812911    1425  2014-03-09    Morning         0          2.2150        41.4025
241605     431  2012-11-23  Afternoon         0          2.1375        41.4100
527871     926  2011-11-21      Night         0          2.1700        41.4400
753715    1320  2012-07-16      Night         0          2.2000        41.4100
10727       20  2013-06-14  Afternoon         0          2.0975        41.4300
718620    1258  2012-03-04  Afternoon         0          2.1950        41.3875
119290     215  2010-04-05    Morning         0          2.1225        41.4150
475669     835  2012-11-05      Night         0          2.1650        41.3950
423262     746  2014-10-20  Afternoon         0          2.1575        41.4375
5057        10  2013-07-19  Afternoon         0          2.0950        41.4150
343146     608  2012-01-14  Afternoon         0          2.1500        41.3650
221031     395  2010-11-27    Morning         0          2.1350        41.4175
600884    1052  2012-03-12  Afternoon         0          2.1800        41.3925
380489     672  2013-02-27    Morning         0          2.1525        41.4375
555641     973  2011-01-04    Morning         0          2.1750        41.3775
485178     852  2010-10-08    Morning         0          2.1650        41.4375
208085     372  2011-11-17    Morning         0          2.1350        41.3600
598534    1047  2013-09-06  Afternoon         0          2.1800        41.3800
104426     188  2013-10-05  Afternoon         0          2.1200        41.4075
399523     705  2014-08-03  Afternoon         0          2.1550        41.4275
120176     216  2014-11-14      Night         0          2.1225        41.4225
217048     388  2011-11-21    Morning         0          2.1350        41.4000
94214      170  2014-04-17      Night         0          2.1200        41.3300
416834     735  2010-10-09  Afternoon         0          2.1575        41.4100
132775     239  2012-07-16    Morning         0          2.1250        41.4050
76877      139  2014-12-16    Morning         0          2.1150        41.4175
613318    1073  2011-06-02    Morning         0          2.1800        41.4450
482776     848  2010-07-28  Afternoon         0          2.1650        41.4275
531309     932  2011-07-28    Morning         0          2.1700        41.4575

[73034 rows x 6 columns]

In [22]:
datosAN["Accident"].value_counts()

1    36517
0    36517
Name: Accident, dtype: int64

In [25]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
LE.fit(datosAN["Shift"])

LabelEncoder()

In [26]:
list(LE.classes_)
datosAN["Shift"] = LE.transform(datosAN["Shift"])
datosAN["Shift"].value_counts()

0    30102
1    26450
2    16482
Name: Shift, dtype: int64

In [45]:
X = datosAN.drop("Accident",1)
X = X.drop("date",1)

In [46]:
y = datosAN["Accident"]

In [47]:
print(X.shape)
print(y.shape)

(73034, 4)
(73034,)

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.30, random_state=1)

In [49]:
print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(51123, 4)
(21911, 4)
(51123,)
(21911,)

In [50]:
from sklearn.tree import DecisionTreeClassifier
DTC = DecisionTreeClassifier(criterion='entropy', random_state=1)

In [51]:
DTC.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [52]:
y_train_pred = DTC.predict_proba(X_train)

In [53]:
from sklearn.metrics import roc_auc_score

In [54]:
print(roc_auc_score(y_train, y_train_pred[:, 1]), "Árbol de decisión - Datos de entrenamiento")

0.8340575556647167 Árbol de decisión - Datos de entrenamiento

In [55]:
y_test_pred = DTC.predict_proba(X_test)

In [56]:
print(roc_auc_score(y_test, y_test_pred[:, 1]), "Árbol de decisión - Datos de test")

0.7774813039969514 Árbol de decisión - Datos de test